<div class="event-wrapper">
    <div class="event-time">Time: {{event.date}}</div>
    <div class="detail owner">Title: {{event.title}}</div>
    <div class="detail type">Description: {{event.description}}</div>
  <div {{action 'deleteEvent' event}}>delete</div>
  <div>{{#link-to 'event' event.id}}edit{{/link-to}}</div>
</div>
