<article class="listing">
  <h3>{{event.title}}</h3>
  <div class="detail owner">
    <span>Title:</span> {{event.title}}
  </div>
  <div class="detail type">
    <span>Description:</span> {{event.description}}
  </div>
</article>
