<header>
  <nav>
    {{#link-to 'calendar'}}
      Calendar
    {{/link-to}}
    {{#link-to 'event' 0}}
      Add Event
    {{/link-to}}
    {{#link-to 'about'}}
        About
      {{/link-to}}
  </nav>
</header>

{{liquid-outlet}}
