<h2 class="heading">calendar overview</h2>

{{main-calendar events=model.events activeEvents=model.activeEvents}}

{{#if model.activeEvents}}
<h4 class="heading">Showing calendar entries for {{format-event-day model.activeEvents.0.date}}</h4>
{{/if}}

<div class="events-preview-wrapper">
  {{#each model.activeEvents as |eventUnit|}}
    {{calendar-event event=eventUnit events=model.events activeEvents=model.activeEvents}}
  {{/each}}
</div>
