<h2 class="heading">calendar overview</h2>

{{main-calendar events=model.events activeEvents=model.activeEvents}}

<button {{action 'sessionChanged'}}>refresh</button>

{{#if model.activeEvents}}
<h3 class="heading">calendar entries for selected date:</h3>
{{/if}}
<div class="events-preview-wrapper">
  {{#each model.activeEvents as |eventUnit|}}
    {{calendar-event event=eventUnit events=model.events activeEvents=model.activeEvents}}
  {{/each}}
</div>
