<form {{action "doSomething" on="submit"}}>
  {{input type="time" value=foobar}}
  {{input type="title" value=foobar}}
  {{input type="description" value=foobar}}
  <button type="submit">Save</button>
</form>
